
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<style>
    .custom-container {
        
        padding: 20px;
    }
    .row {
        border-radius: 1rem;
    }
    .bg-item {
        background: linear-gradient(to bottom, #ff0066, #9400D3);
    }
</style>

<div class="custom-container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hướng tới</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tổng hợp toàn bộ Casual ở nha trang, loại bỏ đi các trung gian đang tồn tại</li>
                        <li class="list-group-item">Tìm kiếm Casual một cách dễ dàng, sắp xếp công việc một cách hợp lý</li>
                        <li class="list-group-item">Mô hình kết nối trực tiếp giữa Casual và HR</li>
                        <li class="list-group-item">Tạo ra cộng đồng và sân chơi cho Casual</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tổng hợp toàn bộ Casual ở nha trang, loại bỏ đi các trung gian đang tồn tại</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Hiện nay, Casual đang bị phân tán nhiều trong các hội nhóm .
                            Việc Zalo đã giới hạn số thành viên trong một nhóm làm khó khăn trong việc tham gia.
                            Việc đưa ra mô hình book Casual để tổng hợp toàn bộ Casual hiện đang ở Nha Trang lại thành một nhóm duy nhất.
                        </li>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tìm kiếm Casual một cách dễ dàng, Sắp xếp công việc một cách hợp lý</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Mô hình hướng tới là tổng hợp toàn bộ Casual ở Nha Trang , nên số lượng rất lớn , có thể lên đến 20,000 - 30,000 mà 90% là sinh viên, học sinh có nhu cầu đi làm thêm nhưng không ràng buộc thời gian.
                            Vì bị phân tán công việc cũng như Casual, nên thực trạng nhiều nơi đang gặp phải là thiếu người làm hoặc thiếu việc làm.
                            Với số lượng lớn Casual, sẽ giải quyết được vấn đề thiếu người làm, ngược lại, công việc cũng thế, việc tổng hợp càng nhiều HR ở nhiều nơi sẽ giúp công việc ít bị phân tán.
                            Ví dụ, việc tìm kiếm Casual trong 1,000 Casual sẽ lâu hơn và khó tìm kiếm hơn trong 30,000 Casual.
                            Bên cạnh đó, Casual cũng sẽ quan sát được những công việc hiện tại đang có cũng như có thể đăng ký trùng những lịch làm ở chỗ khác.
                            Vì có cơ chế đồng bộ hóa, công việc sau khi đăng ký sẽ được xác nhận từ HR thì mới chính thức là được nhận, vì thế nếu HR sau xác nhận nhưng bị trùng lịch
                            sẽ không thực hiện được.
                            Những công việc đã đăng ký bạn cũng có thể theo dõi , nếu có có một công việc nào đó đăng ký nhưng muốn hủy, thì có thể hủy nếu công việc có vẫn chưa được xác nhận.
                            Trường hợp đã được xác nhận, có thể nhượng ca bằng cách chuyển cho một người khác bằng Id hoặc nhượng ca trực tiếp để người khác nhận.
                            Đối với trường hợp hủy sau khi xác nhận, sẽ được ghi nhận vào hệ thống, HR có thể xem thông tin này để quyết định có xác nhận đăng ký hay không.
                        </li>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mô hình kết nối trực tiếp giữa Casual và HR</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Mô hình cho phép HR có thể trực tiếp book, tiếp nhận thông tin đăng ký từ Casual, bao gồm cả giới tính, vị trí đăng ký, tuổi, số lần hủy ca, point (đặc biệt, kéo xuống dưới để biết thông tin về point).
                            Việc kết nối trực tiếp , loại bỏ đi các trung gian giúp cho việc lấy thông tin nhanh hơn, quan trọng là đảm bảo quyền lợi cho Casual không bị mất quá nhiều phí qua trung gian.
                            Public trực tiếp từ web là 1,000 vnd/h làm việc, ít hơn nhiều so với các trung gian khác.(tiền hoa hồng cũng sẽ được mô tả với point)
                        </li>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cơ chế point và tiền hoa hồng</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Point sẽ được ghi nhận sau mỗi một công việc hoàn thành, point càng lớn sẽ thể hiện được kinh nghiệm của Casual
                        </li>
                        <li class="list-group-item">
                            Đối với tiền hoa hồng sẽ được sử dụng để duy trì sever cũng như các nâng cấp khác sau này.
                            Vì số lượng 90% là sinh viên, việc tạo ra sân chơi cho cộng đồng là khá cần thiết.
                            Đủ số lượng Casual cũng như HR sử dụng trên web sẽ tổ chức các giải đấu online, stream trực tiếp hằng tuần cho các Casual đăng ký.
                            Bên cạnh đó cũng sẽ có các hoạt động khác (public sau).
                        </li>
                </div>
            </div>
        </div>
    </div>
</div>

